.subscribeButton {
  width: 240px;
  height: 4rem;
  border: 0;
  border-radius: 2rem;
  background: var(--yellow-500);
  color: var(--grey-900);
  font-size: 1.25rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  
  &:disabled {
    cursor: not-allowed;
    filter: brightness(0.8);
    background: var(--grey-700);
    color: var(--grey-300);
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.needsLogin {
  font-size: 0.75rem;
  color: var(--yellow-500);
  align-items: baseline;
  flex: auto;
  flex-direction: row;

  span {
    color: var(--red-300);
  }
}